*{
    font-family: Arial, Helvetica, sans-serif;
    color: #464b4b;
}

h1 {
    font-size: 32pt;
    font-weight: lighter;
}

h2 {
    font-size: 24pt;
    padding: 0px 16px;
    margin:none ;
    font-weight: lighter;
}

p {
    font-size: 12pt;
    padding: 0px 16px;
    font-weight: 300;
}

.logo {
    background-size: contain;
    background-image: url("https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png");
    height: 128px;
    width: 128px;
}
